/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button.active {
  border: solid 2px #444;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid {
  height: 100vh;
}

.material-icons {
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.link:hover {
  font-weight: bold;
  color: #444;
}
